.social {
    width: clamp(40px, 6vw, 80px);
}

.social-lower {
    padding-block: 5px;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 15px;
}

.t1{
    font-weight: 300;
    font-size: clamp(0.6rem, 4vw, 2rem);
    padding: 5px 0px 5px;
}

.t2{
    font-weight: 300;
    font-size: clamp(0.35rem, 4vw, 1rem);
    padding-block: 5px 10px;
}
.t3{
    font-weight: 600;
    font-size: clamp(0.35rem, 4vw, 1rem);
    padding-block: 5px 10px;
}