:root {
    --ncode: 'Encode Sans';
    --sam: 'sssamarkan';
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.acc-false-container {
    margin-bottom: 1.5rem;
}

/* Vertical accordion styles */
.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 90%;
    margin: 0 auto;
    font-family: var(--ncode);
}

.accordion-section {
    /* background: #6c6c81e0; */
    background: #151515a2;
    color: #f0f0f0;
    letter-spacing: 2px;
    /* border: 1px solid #ccc; */
    border-radius: 10px 10px 5px 5px;
    border: none;
    border-bottom: 1px solid #f8f8f2;
    padding: 10px;
    cursor: pointer;
    transition: background-color 2s ease-in;
    /* border-bottom: none; */
    display: flex;
    justify-content: space-between;
}

.accordion-section:hover,
.accordion-section.active {
    /* background: #44475a; */
    background: #3c415cbd;
    color: #e0e0e0;
    transition: all ease 1s;
    /* Change background color on hover or click */
}

.accordion-section.active+.accordion-content,
.accordion-content:hover {
    display: block;
    border-top: none;
}

.accordion-content {
    /* margin: 0 auto; */
    max-width: auto;
    display: none;
    font-family: var(--ncode);
    /* height: 430px; */
    height: fit-content;
    /* background: #44475a; */
    background: #3c415cbd;
    color: #f8f8f2;
    border: 1px solid none;
    border-radius: 5px 5px 10px 10px;
    padding: 10px;
    overflow: auto;
    border-top: none;
    /* Add scrollbars if content overflows */
}

.dummy-button {
    color: #44475a;
    transition: transform 0.5s;
}

.run-code:hover{
    transform: rotate(360deg);
    transition: all ease-out 0.75s;
}
/* .run-code::after{
    content: "";
}
.run-code:hover:after{
    content: "...";
} */
.dummy-button.rotated {
    transform: rotate(180deg);
}


.codespace-container {
    display: flex;
    flex-direction: column;
    /* margin: -10px; */
    /* justify-content: center; */
}


.dots3 {
    display: flex;
    flex-direction: row;
    /* gap: 0.5rem; */
    justify-content: space-between;
    align-items: center;
}

.codespace-btn {
    background-color: #000000a1;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding: 5px;
    font-weight: 100;
    cursor: help;
}

.dots {
    padding-block: 0px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #44475a77;
    stroke: 1px solid #000000;
    background-color: #000000;
    /* margin-top: 10px; */
    margin-bottom: 0px;
}

.dot-fake-div {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.orangered {
    background-color: orangered;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: #00ca4e;
}

.btn-fake-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* padding-right: 8px; */
}

.template-code {
    text-align: start;
    justify-content: start;
    max-width: 100%;
    overflow: auto;
}

/* .line-numbers {
    max-width: 20px;
} */

.code {
    margin-top: -8px;
    padding-top: 0px;
    width: auto;
    overflow: hidden;
}

.output-container {
    display: flex;
    flex-direction: column;
}

.run-code {
    font-size: larger;
    text-align: center;
    font-family: var(--ncode);
    color: rgba(186, 189, 197, 0.349);
    background-color: #2ac064;
    background: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    /* letter-spacing: 1px; */
    width: 30px;
    align-self: center;
    height: auto;
}

.output-palate {
    font-family: var(--ncode);
    height: 7.5rem;
    width: auto;
    padding: 0.5rem;
    border: 1px solid #f8f8f2;
    border-radius: 10px;
    background-color: #44475a;
    color: rgb(250, 209, 132);
}

@keyframes typeWriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.type-animation {
    /* white-space: nowrap; */
    font-family: var(--ncode);
    overflow: hidden;
    animation: typeWriter 3s steps(30, end);
}


#output-1:empty::before{
    content: "tap the run button";
    color: #e0e0e0;
}
/* div:empty:not(:focus)::before {
    content: attr(data-text);
    color: wheat;
} */