:root {
    --ncode: 'Encode Sans';
    --sam: 'sssamarkan';
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.acc-false-container {
    margin-bottom: 2rem;
}

/* Vertical accordion styles */
.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 90%;
    margin: 0 auto;
    font-family: var(--ncode);
}

.accordion-section {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: #4d3e3e;
    color: #f0f0f0;
    letter-spacing: 2px;
    /* text-transform:; */
    border-radius: 10px 10px 5px 5px;
    border: none;
    border-bottom: 1px solid #f8f8f2;
    padding: 10px;
    cursor: pointer;
    transition: background-color 2s ease-in;
}

.accordion-section:hover,
.accordion-section.active {
    /* background: #44475a; */
    background: #2e3138e5;
    color: #e0e0e0;
    transition: all ease-in-out 0.5s;
    /* Change background color on hover or click */
}

.accordion-section.active+.accordion-content,
.accordion-content:hover {
    display: block;
    border-top: none;
}

.accordion-content {
    background: #2e3138e5;
    max-width: auto;
    display: none;
    font-family: var(--ncode);
    height: fit-content;
    /* background: #44475a; */
    color: #f8f8f2;
    border: 1px solid none;
    border-radius: 5px 5px 10px 10px;
    padding: 10px;
    overflow: auto;
    border-top: none;
    /* Add scrollbars if content overflows */
}

.dummy-button {
    color: rgb(245, 230, 203);
    transition: transform 0.5s;
}

.dummy-button.rotated {
    transform: rotate(180deg);
}


.codespace-container {
    display: flex;
    flex-direction: column;
    /* margin: -10px; */
    /* justify-content: center; */
}


.dots3 {
    display: flex;
    flex-direction: row;
    /* gap: 0.5rem; */
    justify-content: space-between;
    align-items: center;
}

.codespace-btn {
    /* background-color: #5668b1ab; */
    /* background: rgba(255, 127, 80, 0.596); */
    color: #e0e0e0;
    border: 1.5px groove dodgerblue;
    border-radius: 5px;
    letter-spacing: 1px;
    width: fit-content;
    height: auto;
    align-self: center;
    padding: 5px;
    font-weight: 100;
    cursor: help;
}

.dots {
    padding-block: 0px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #44475a77;
    stroke: 1px solid #000000;
    background-color: #000000;
    /* margin-top: 10px; */
    margin-bottom: 0px;
}

.dot-fake-div {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.orangered {
    background-color: orangered;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: #00ca4e;
}

.btn-fake-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* padding-right: 8px; */
}

.template-code {
    text-align: start;
    justify-content: start;
    max-width: 100%;
    overflow: auto;
}

/* .line-numbers {
    max-width: 20px;
} */

.code {
    margin-top: -8px;
    padding-top: 0px;
    width: auto;
    user-select: none;
    /* overflow: hidden; */
}

.output-container {
    display: flex;
    flex-direction: column;
}

.run-code {
    font-size: large;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    background-color: #2ac064;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    /* margin-right: 10px; */
    width: fit-content;
    align-self: center;
    height: auto;
}
.run-code:hover {
    transform: scale(0.85);
    transition: all ease-in 0.35s;
}

.output-palate {
    font-family: var(--ncode);
    /* height: 8.3rem; */
    height: fit-content;
    width: auto;
    padding: 0.5rem;
    border: 2px ridge #989898;
    border-radius: 10px;
    color: #d8f5a2;
    color: whitesmoke;
    content: none;
    user-select: none;
}

/* .specialPalate1, .specialPalate2{
    height: fit-content;
} */

@keyframes typeWriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.type-animation {
    /* white-space: nowrap; */
    font-family: var(--ncode);
    overflow: hidden;
    animation: typeWriter 3s steps(30, end);
}


#output-1:empty::before {
    content: "tap the run button";
    color: #e0e0e0;
}

/* div:empty:not(:focus)::before {
    content: attr(data-text);
    color: wheat;
} */