.wrapper {
    display: flex;
}

svg {
    display: block;
    margin: 0 auto;
}

.background-circle,
.progress-circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: fillProgress 2s ease-out forwards;
}

@keyframes fillProgress {
    from {
        stroke-dasharray: 0, 502.4;
    }

    to {
        svg {
            display: block;
            margin: 0 auto;
        }

        .background-circle,
        .progress-circle {
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            animation: fillProgress 3s ease-out forwards;
        }

        @keyframes fillProgress {
            from {
                stroke-dasharray: 0, 502.4;
            }

            to {
                stroke-dasharray: 0, 502.4;
            }
        }
    }
}

.ooo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* padding: 50px 0; */
}

/* .skills{
    display: flex;
} */
.technical{
    display: flex;
    flex-direction: column;
}
.frontend{
    display: flex;
    flex-direction: column;
}
.box-2el{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    padding: 0;
}
.box-1el{
    display: flex;
    justify-content: space-around;
}
.svg-wrapper{
    padding: 0;
    transform: scale(0.75);
}
.image{
    height: 50px;
    width: 50px;
}
.percent-text{
    visibility: hidden;
}