@font-face {
    font-family: 'sssamarkan';
    src: url('samarkan-font/SAMAN___.ttf');
}
:root {
    --ncode: 'Encode Sans';
    --sam: 'sssamarkan';
}

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* html,
body {
    overflow-x: hidden;
    max-width: 100%;
} */

body {
    min-height: 100dvh;
    width: 100%;
    font-family: var(--ncode);
    /* margin: 15px; */
    padding: 15px;
    background-color: rgb(245, 230, 203);
}

img {
    width: 100%;
}

p {
    line-height: 1.4;
}

.topbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.namebox {
    display: flex;
    flex-direction: column;

}

.name {
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: 600;
}

.designation {
    font-size: clamp(0.25rem, 4vw, 1.25rem);
}


.cnctlgo {
    max-width: clamp(30px, 9vw, 60px);
    transition: all ease-in .1s;
    cursor: pointer;
}

.cnctlgo:hover {
    transform: scale(1.1);
}

.quote {
    text-align: center;
    font-size: clamp(2rem, 6vw, 3rem);
    padding: 15px;
}

.hire-section {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}

.upper {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 20px 20px;
}

.bar {
    height: 2px;
    background: black;
    /* border: 2px solid black; */
    width: 40px;
}

.hire-heading {
    font-size: clamp(1.5rem, 6vw, 3rem);
    font-weight: 600;
}

.lower {
    gap: 1rem;
}

.hire-me {
    font-size: clamp(0.45rem, 4vw, 1rem);
    padding: 0px 20px;
}