* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

button {
    font-size: inherit;
}

.container {
    place-content: center;
    min-height: 100vh;
    display: grid;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /* width: 300px; */
    gap: 5px;
}

.screen {
    text-align: right;
    padding: 0.5rem;
    grid-column: 1 / span 4;
    border: 1px solid black;
}

.zero {
    grid-column: 1 / span 2;
}

.equal {
    grid-row: -1 / -3;
    grid-column: 4 / 5;
}

/* for tablet screens */
@media (min-width: 768px) {
    .grid {
        transform: scale(1.5)
    }
}

/* for laptop screens */
@media (min-width: 1440px) {
    .grid {
        transform: scale(2.0)
    }
}

/* for laptop screens */
@media (min-width: 1920px) {
    .grid {
        transform: scale(2.5)
    }
}