:root {
    --ncode: 'Encode Sans';
}

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,
body {
    overflow-x: hidden;
    max-width: 100%;
} */

body {
    min-height: 100dvh;
    width: 100%;
    font-family: var(--ncode);
    /* margin: 15px; */
    padding: 15px;
    background-color: rgb(245, 230, 203);
}

img {
    width: 100%;
}

p {
    line-height: 1.4;
}

.topbox {
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 5rem; */
    padding: 5px 0px;
}

.namebox {
    display: flex;
    flex-direction: column;
    /* padding-top: 5px; */
}

.name {
    /* position: relative; */
    padding-block: 2px;
    font-size: clamp(1rem, 5vw, 1.75rem);
    font-weight: 700;
}

.designation {
    font-size: clamp(0.2rem, 2.8vw, 1rem);
}

.image-container {
    height: 40px;
    width: 40px;

}

#cnctlgo {
    max-width: clamp(40px, 12vw, 80px);
    cursor: pointer;
}


/* main section */
/*  */
/* welcome section */
.main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.heading {
    flex-direction: column;
    padding-block: 32px 20px;
}

.welcome {
    padding-block: 10px;
}

.false-wrapper {
    display: inline-block;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid rgb(49, 13, 13);
    white-space: nowrap;
    animation:
        typing 3s forwards;
    font-size: clamp(1.6rem, 4vw, 3rem);
    width: 0;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        /* change this on media queries */
        width: 93%
    }
}

.welcome-about {
    line-height: clamp(1.6rem, 4vw, 2.5rem);
    padding-block: 10px;
    font-size: clamp(0.95rem, 2vw, 1.4rem);
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 15px;
}

.t1 {
    font-weight: 300;
    font-size: clamp(0.6rem, 4vw, 2rem);
    padding: 5px 0px 5px;
}

.t2 {
    font-weight: 300;
    font-size: clamp(0.35rem, 4vw, 1rem);
    padding-block: 5px 10px;
}

.t3 {
    font-weight: 600;
    font-size: clamp(0.35rem, 4vw, 1rem);
    padding-block: 5px 10px;
}